<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= debug(@current_user.inspect)%>
    <%= debug(session[:user_id])%>
    <% if session[:user_id] %>
      <%= link_to "logout", signout_path, method:'delete'  %>
      <% end %>
    <%= yield %>

    <%= debug(params)%>

  </body>
</html>
